body {
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Helvetica, Arial, sans-serif;
  background-image: url(pexels-pixabay-531602.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: auto;
}

h1 {
  font-size: 3rem;
  font-weight: bold;
  line-height: 1.0;
  text-transform: uppercase;
  color: blueviolet;
  text-align: center;
  margin-bottom: 2rem;
}

p {
  color: #ffffff;
}

#weather-section {
  font-size: 2.2rem;
  color: #333;
  text-align: center;
  margin-bottom: -5px;
}

button[type="button"] {
  background-color: #4CAF50;
  border: none;
  color: white;
  padding: 10px 20px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin-top: 2rem;
  cursor: pointer;
  border-radius: 0.5rem;
  transition: background-color 0.2s ease-in-out;
}

button[type="button"]:hover {
  background-color: #666;
}

#city-image-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.city-image-box {
  width: 300px;
  height: 300px;
  border: 1px solid #333;
  margin: 10px;
  position: relative;
  overflow: hidden;
}

.city-image-box img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  transition: transform 0.2s ease-in-out;
}

.city-image-box:hover img {
  transform: scale(1.1);
}

.city-image-box .city-name {
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  background-color: rgba(0, 0, 0, 0.6);
  color: white;
  font-size: 1.5rem;
  padding: 10px;
  text-align: center;
}

#weather p,
#weather h2 {
  text-align: center;
}

nav {
  background-color: #333;
  overflow: hidden;
}

nav ul {
  margin: 0;
  padding: 0;
  list-style-type: none;
}

nav li {
  float: left;
}

nav li a {
  display: block;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

nav li a:hover {
  background-color: #111;
}
