/* Set background color */
body {
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Helvetica, Arial, sans-serif;
    background-image: url(pexels-pixabay-531602.jpg);
    background-repeat: no-repeat;
    background-color: #f0f0f0;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: auto;
  }
  
  /* Set container styles */
  .container {
    margin: 0 auto;
    max-width: 800px;
    padding: 50px;
    background-color: white;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
    border-radius: 5px;
  }
  
  /* Set heading styles */
  h1 {
    font-size: 36px;
    margin-bottom: 20px;
    text-align: center;
    color: #333;
  }
  
  /* Set select styles */
  #meal-select {
    font-size: 18px;
    padding: 10px;
    margin-bottom: 20px;
    width: 100%;
    box-sizing: border-box;
    border: 1px solid #ccc;
    border-radius: 5px;
  }
  
  /* Set table styles */
  table {
    width: 100%;
    border-collapse: collapse;
    margin-top: 20px;
  }
  
  table td img {
    max-width: 100%;
  }
  
  table th, table td {
    padding: 10px;
    text-align: left;
    border: 1px solid #ccc;
  }
  
  table th:first-child, table td:first-child {
    width: 20%;
    font-weight: bold;
  }
  
  table th:last-child, table td:last-child {
    width: 50%;
  }
  
  /* Set link styles */
  a {
    color: #333;
    text-decoration: none;
  }
  
  a:hover {
    color: #555;
    text-decoration: underline;
  }
  
  /* Set link block display styles */
  #recipe-link,
  #youtube-link {
    display: none;
  }
  img {
    width: 300px;
    height: 300px;
  }
  
  nav {
    background-color: #333;
    overflow: hidden;
  }
  
  nav ul {
    margin: 0;
    padding: 0;
    list-style-type: none;
  }
  
  nav li {
    float: left;
  }
  
  nav li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
  }
  
  nav li a:hover {
    background-color: #111;
  }
  
  section {
    margin-top: 50px;
  }
  